.list {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  &__image {
    margin-right: 1.2rem;
  }

  &__person {
    display: flex;
    flex-direction: column;
  }
  &__h4 {
    margin-bottom: 0.35rem;
  }
  &__img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
}
